#border{
    border: 5px groove black;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-left: 500px;
    margin-top: 200px;
}
#heading{
    color: red;
    font-size: 40px;
    display: inline-block;
    margin-left: 100px;
}
#name{
    margin-left: 70px;
}
#name:hover{
    cursor: pointer;
}
#phonenumber{
    margin-left: 20px;
}
#phonenumber:hover{
    cursor: pointer;
}
#service{
    margin-left: 50px;
}
#area{
    margin-left: 50px;
}
#area:hover{
    cursor: pointer;
}
#button{
    margin-left: 40px;
}
#submit{
    background-color: black;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px red ;
}
#reset{
    background-color: black;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px red ;
}
#submit:hover{
    background-color: aqua;
    color: black;
    cursor: wait;
}
#reset:hover{
    background-color: aqua;
    color: black;
    cursor: wait;
}